
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section style="margin: auto; width: 65%;">
    <img src="~/Templatess/images/AboutUs/ab1.png" alt="Alternate Text" />
    <img src="~/Templatess/images/AboutUs/ab2.png" alt="Alternate Text" />
</section>
