
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<main class="contact">
    <section class="contact-area-02">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 contact-info">
                    <div class="col-sm-12 contact-title">
                        <h2>Thông tin liên hệ</h2>
                        <p class="content-sub_p">Chào mừng bạn đến với cửa hàng Huy Ngoan. Chúc bạn một ngày tốt lành!</p>
                    </div>
                    <div class="col-sm-12 contact-box">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 single-address-box">
                                <div class="single-address">
                                    <i class="fa fa-phone"></i>
                                    <h4>Điện thoại</h4>
                                    <p>(+89)98.960.1134</p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6  single-address-box">
                                <div class="single-address">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Email</h4>
                                    <p>HuyNgoan@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 single-address-box">
                                <div class="single-address">
                                    <i class="fa fa-map-marker"></i>
                                    <h4>Địa chỉ:</h4>
                                    <p>Đào Dương, Ân Thi, Hưng Yên, Việt Nam</p>
                                </div>
                            </div>
                            <div class="col-sm-12 single-address-box">
                                <ul class="list-unstyled">
                                    <li><a href="https://www.facebook.com/chu.yen20022000/"><i class="fa fa-facebook teacher-icon"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter teacher-icon"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus teacher-icon"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram teacher-icon"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6  col-sm-offset-1 contact-form">
                    <div class="row">
                        <div class="col-sm-12 contact-title-btm">
                            <h2>Gửi phản hồi</h2>
                            <p class="content-sub_p">Welcome to our Website. We are glad to have you around.</p>
                        </div>
                    </div>
                    <div class="input-contact-form">


                        <div id="contact">
                            <div id="message"></div>
                            <form method="post" action="#" name="contactform" id="contactform">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Họ tên" name="name" id="name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email" name="email" id="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Tiêu đề" name="subject" id="subject">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="6" placeholder="Nội dung" name="comments" id="comments"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="full-width">
                                            <input value="Gửi" type="submit" name="submit" id="submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>