@{
    ViewBag.Title = "Home Page";
}

<article>
    <!-- new -->
    <section class="new_arrivals" style="padding: 5em 0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://theme.hstatic.net/200000000133/1000569834/14/home3banner_1.jpg?v=3407" width="100%" alt=" " />
                </div>
                <div class="col-sm-4">
                    <img src="https://theme.hstatic.net/200000000133/1000569834/14/home3banner_3.jpg?v=2588" width="100%" alt=" " />
                </div>
                <div class="col-sm-4">
                    <img src="https://theme.hstatic.net/200000000133/1000569834/14/home3banner_1.jpg?v=2588" width="100%" alt=" " />
                </div>
            </div>
        </div>
    </section>
    <!-- /new -->
    <!-- San pham moi nhat -->
    <article class="single-courses_v single-courses_v1">
        <section class="single-courses-area-01" id="courses">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-header-box">
                        <div class="section-header-l">
                            <h2>Sản phẩm mới nhất</h2>
                        </div><!-- ends: .section-header -->
                    </div>
                </div>

                <div class="row" ng-controller="NewProductCtrl" ng-init="timeOut()">
                    <div class="courses-wrapper owl-carousel" id="single-carousel-03">
                        <div ng-repeat="sp in NewProducts">
                            <div class="col-sm-12">
                                <div class="single-courses">
                                    <figure>
                                        <div class="figure-img"><img ng-src="{{sp.AvatarImage}}" alt="" class="img-responsive"></div>
                                        <figcaption>
                                            <div><a ng-href="/Product/Detail?maSP={{sp.Id}}" class="read_more-btn">Xem ngay</a></div>
                                        </figcaption>
                                    </figure>
                                    <div class="courses-content-box">
                                        <div class="courses-content">
                                            <h5><a ng-href="/Product/Detail?maSP={{sp.Id}}">{{sp.Name}}</a></h5>
                                            <p class="price">{{sp.Price | currency : "" : 0}}đ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </article>
    <!-- //san pham moi nhat -->
    <!-- Tin tuc -->
    <section class="events-area" ng-controller="NewsCtrl">
        <div class="container" ng-init="getNewNews()">
            <div class="row">
                <div class="col-sm-12 section-header-box">
                    <div class="section-header">
                        <h2>Tin tức</h2>
                    </div><!-- ends: .section-header -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 events-full-box" ng-repeat="news in Newses">
                    <div class="events-single-box">
                        <div class="row">
                            <div class="col-sm-5">
                                <img ng-src="{{news.Image}}" alt="" class="img-responsive">
                            </div>

                            <div class="col-sm-7 event-info">
                                <h4>{{news.Heading}}</h4>
                                <p>{{news.Description}}</p>
                                <a class="event-btn" href="#">Xem thêm<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Tin tuc -->
    <!-- modal quảng cáo-->
    <!-- Modal -->
    <div class="modal fade" id="ModalAds" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" style="width: 30vw">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        đóng <span aria-hidden="true">&times;</span>
                    </button>
                    <img style="width: 100%" src="https://theme.hstatic.net/200000000133/1000569834/14/home3banner_1.jpg?v=3605" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>
</article>

<script>
    setTimeout(function () {
        $('#ModalAds').modal('show');
        document.getElementById("ModalAds").setAttribute("z-index")
    }, 5000);
</script>
<!-- /content -->
