
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

  <!-- Start main-content -->
<div class="main-content" ng-controller="CartController">
    
    <!-- Section: inner-header -->
    <section>
        <div class="container">
            <section style="padding-top: 1em;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="intro-text ">
                                <h5>
                                    <span><a ng-href="/Home/Index">Trang chủ <i class='fa fa-angle-right'></i></a></span>
                                    <span class="b-active">Giỏ hàng</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="section-content">
                <h5 style="height: 25vh; text-align: center; padding-top: 3.5em;" ng-hide="hide"> Bạn không có sản phẩm nào trong giỏ hàng! <a ng-href="/Product/AllProduct">Tiếp tục mua hàng</a></h5>
                <div class="row" ng-show="hide">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered tbl-shopping-cart" ng-init="getCart()">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Hình ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item" ng-repeat="x in dsGH">
                                        <td class="product-remove"><button ng-click="removeCartItem(x.Product)">X</button></td>
                                        <td class="product-thumbnail"><a href="#"><img style="width:100px;" alt="member" ng-src="{{x.Product.AvatarImage}}"></a></td>
                                        <td class="product-name">
                                            <a ng-href="/Product/Detail?maSP={{x.Product.Id}}">{{x.Product.Name}}</a>
                                            <ul class="variation">
                                                <li class="variation-size">Size: <span>{{x.Product.Size}}</span></li>
                                                <li class="variation-size">Color: <span>{{x.Product.Color}}</span></li>
                                            </ul>
                                        </td>
                                        <td class="product-price"><span class="amount">{{x.Product.Price | currency : "" : 0}}đ</span></td>
                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input type="number" size="1" title="Qty" ng-model="x.Quantity" value="{{x.Quantity}}" name="quantity" min="1" max="{{x.Product.Quantity}}" step="1">
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">{{(x.Quantity * x.Product.Price) | currency : "" : 0}}đ</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 mt-30">
                        <div class="row" ng-controller="LoginController">
                            <div class="col-md-6">
                                <h4>Thông tin người nhận</h4>
                                <form class="form" action="#">
                                    <table class="table no-border">
                                        <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" placeholder="Tên người nhận" value="{{User.Name}}"></td>
                                            </tr>
                                            <tr>
                                                <td><input type="text" class="form-control" placeholder="Địa chỉ (Số nhà - Thôn - Xã - Huyện - Thành phố)" value="{{User.Address}}"></td>
                                            </tr>
                                            <tr>
                                                <td><input type="text" class="form-control" placeholder="Số điện thoại" value="{{User.Phone}}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <h4>Đơn hàng: ({{soluong}} sản phẩm)</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr ng-repeat="x in dsGH">
                                            <td>{{x.Product.Name}}</td>
                                            <td>{{(x.Product.Price * x.Quantity) | currency : "" : 0}}đ</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Tổng tiền:</th>
                                            <th>{{thanhtien | currency : "" : 0}}đ</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <a class="btn btn-success" ng-click="order(User)">MUA HÀNG</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
  <!-- end main-content -->

