/*====================================================================================================
										===[ Login Style ]===
										=====================================================================================================*/

.login header .header-body {
	background: url("../images/register-bg.jpg") no-repeat center center;
	min-height: 360px;
	background-size: cover;
	position: relative;
}

	.login header .header-body:before {
		background: rgba(0, 0, 0, 0.5);
		content: "";
		height: 100%;
		position: absolute;
		width: 100%;
		left: 0;
	}

	.login header .header-body .intro-text {
		text-align: center;
		margin-top: 80px;
	}

		.login header .header-body .intro-text h1 {
			font-family: "Montserrat", sans-serif;
			font-size: 45px;
			font-weight: 700;
			color: #ffffff;
			margin: 0;
		}

		.login header .header-body .intro-text p {
			margin-top: 15px;
		}

			.login header .header-body .intro-text p span {
				font-size: 14px;
				color: #ffffff;
			}

				.login header .header-body .intro-text p span a {
					color: #ffffff;
					text-decoration: none;
					transition: all 0.3s ease-in-out;
				}

					.login header .header-body .intro-text p span a:hover {
						color: #fec722;
						transition: all 0.3s ease-in-out;
					}

.login .login-area {
	background: #fafafa;
	padding: 100px 0;
}

	.login .login-area .learnpro-register-form {
		background-color: #fff;
		padding: 30px;
	}

		.login .login-area .learnpro-register-form p {
			line-height: 23px;
			margin-bottom: 35px;
		}

		.login .login-area .learnpro-register-form .lead {
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 600;
			line-height: 1.4;
			text-align: center;
			text-transform: uppercase;
		}

		.login .login-area .learnpro-register-form select,
		.login .login-area .learnpro-register-form textarea,
		.login .login-area .learnpro-register-form input[type="text"],
		.login .login-area .learnpro-register-form input[type="password"],
		.login .login-area .learnpro-register-form input[type="datetime"],
		.login .login-area .learnpro-register-form input[type="datetime-local"],
		.login .login-area .learnpro-register-form input[type="date"],
		.login .login-area .learnpro-register-form input[type="month"],
		.login .login-area .learnpro-register-form input[type="time"],
		.login .login-area .learnpro-register-form input[type="week"],
		.login .login-area .learnpro-register-form input[type="number"],
		.login .login-area .learnpro-register-form input[type="email"],
		.login .login-area .learnpro-register-form input[type="url"],
		.login .login-area .learnpro-register-form input[type="search"],
		.login .login-area .learnpro-register-form input[type="tel"],
		.login .login-area .learnpro-register-form input[type="color"],
		.login .login-area .learnpro-register-form .uneditable-input {
			min-height: 50px;
			font-weight: 400;
			display: block;
			padding: 12px 15px;
			font-size: 14px;
			line-height: 1.428571429;
			color: #555;
			background-color: transparent;
			background-image: none;
			border-radius: 4px;
			box-shadow: none;
			-webkit-box-shadow: none;
			border: 1px solid #e9edf0;
		}

		.login .login-area .learnpro-register-form .register-btn .btn {
			width: 100%;
			border-radius: 3px;
			margin-bottom: 15px;
			background: #fec722;
			color: #333;
			border: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 15px;
			padding: 15px 0;
			box-shadow: none;
		}

		.login .login-area .learnpro-register-form a {
			color: #fec722;
			text-decoration: none;
		}
/*# sourceMappingURL=style.css.map */
