<!--==================
    Slider
===================-->
<div class="rev_slider_wrapper">
    <div id="rev_slider_1" class="rev_slider" style="display:none">

        <!-- BEGIN SLIDES LIST -->
        <ul>
            <li data-transition="random" data-title="Slide Title" data-param1="Additional Text" data-thumb="~/Templatess/images/Slides/slide_5.png">
                <div class="slider-overlay"></div>
                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img src="~/Templatess/images/Slides/slide_5.png" alt="Sky" class="rev-slidebg">
            </li>
            <li data-transition="boxfade" data-title="Slide Title" data-param1="Additional Text" data-thumb="~/Templatess/images/Slides/coupons.png">
                <div class="slider-overlay"></div>
                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img src="~/Templatess/images/Slides/coupons.png" alt="Sky" class="rev-slidebg">
            </li>
        </ul><!-- END SLIDES LIST -->

    </div><!-- END SLIDER CONTAINER -->
</div><!-- END SLIDER CONTAINER WRAPPER -->
<!-- content -->
